.main {
    width: 952px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto 100px;
    justify-content: space-between;
}

.column {
    display: flex;
    gap: 12px;
}

.input {
    width: 204px;
}

.buttonsValue {
    width: 175px;
    font-size: 15px;
}

.buttonsIndex {
    width: 362px;
    font-size: 15px;
}

.elements {
    max-width: 1040px;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 16px

}

.element {
    display: flex;
    align-items: center;
    gap: 7px
}