.main {
    margin: auto;
    align-items: center;
    display: flex;
    width: 924px;
    justify-content: space-between;
    margin-bottom: 384px;
}

.flex {
    display: flex;
}

.radio {
    margin-right: 40px;
}

.button {
    margin-right: 12px;
}

.diagram {
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 986px;
}